<h2>New celebrity</h2>

<form action="/celebrities/create" method="post">

  <div>
  <label for="name">Name:</label>
  <input id="name" type="text" name="name">
  </div>

  <div>
  <label for="occupation">Occupation:</label>
  <input id="occupation" type="text" name="occupation">
  </div>

  <div>
  <label for="catchPhrase">Catch phrase:</label>
  <input id="catchPhrase" type="text" name="catchPhrase">
  </div>

  <button>Add</button>

</form>
